/** @format */
@font-face {
  font-family: Aerial;
  src: url(AERIAL.TTF);
}
@font-face {
  font-family: NovaSquare;
  src: url(novasquare.ttf);
}

:root {
  --max-width: 1440px;
  --slider-color: rgb(156, 156, 156);
}

html,
body {
  position: relative;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  max-width: var(--max-width);
  margin: auto;
  background-image: url(./img/BG\ layer\ 1.png);
  background-attachment: fixed;
  font-family: NovaSquare;
}

a {
  appearance: none;
  color: unset;
  text-decoration: unset;
}

button {
  appearance: none;
  padding: 0;
  margin: 0;
  background-color: unset;
  border: none;
}

p {
  margin: 0;
}

.lazyload,
.lazyloading {
  opacity: 0;
}
.lazyloaded {
  opacity: 1;
  transition: opacity 300ms;
}

.Overlay {
  opacity: 0;
  position: fixed;
  z-index: 6;
  top: -100%;
  left: -100%;
  right: -100%;
  bottom: -100%;
  background-color: rgba(0, 0, 0, 0.336);
  transition: opacity ease-in 100ms;
}

.NavDrawer {
  position: fixed;
  z-index: 14;
  display: none;
  top: 4px;
  left: 4px;
  height: 48px;
  width: 48px;
  border-radius: 48px;
}

.HamburgerSVG {
  height: 100%;
  width: 100%;
  transform: scaleY(0.87);
}

.Megamenu {
  position: relative;
  z-index: 13;
  top: 0;
  height: 5%;
  width: 100%;
  max-width: var(--max-width);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.11);
  background-color: white;
  font-family: Aerial;
}

.MenuItemList {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0;
  background-color: white;
}

.MenuItem {
  position: relative;
  padding: 8px;
  cursor: pointer;
}

.MenuItem[data-js-menu-item='active'] {
  --after-right: 0;
}
.MenuItem[data-js-menu-item='not-active'] {
  --after-right: 100%;
}

.MenuItem::after {
  position: absolute;
  content: '';
  bottom: 18%;
  left: 0;
  right: var(--after-right);
  height: 2px;
  background-color: black;
  transition: right 400ms ease-in-out;
}

.MenuItem:hover::after {
  right: 0;
}

.Main {
  margin: 8px;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  height: 85vh;
  margin-bottom: 64px;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Description {
  margin: 16px 32px;
  font-family: NovaSquare;
  user-select: none;
}

.gallery-top .Image {
  width: 100%;
  height: 90%;
  object-fit: contain;
  user-select: none;
}

.Thumbnail__Image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}

.gallery-top {
  height: 80%;
  width: 100%;
  backdrop-filter: blur(15px);
  border-bottom: solid 1px rgba(0, 0, 0, 0.308);
}

.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  border-bottom: solid 2px rgba(0, 0, 0, 0.308);
}
.gallery-thumbs .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}
.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-container .swiper-button-prev,
.swiper-container .swiper-button-next {
  height: 64px;
  width: 64px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.-Show {
  opacity: 1;
}

.-Hidden {
  display: none;
}

.NavDrawer {
  position: fixed;
  z-index: 14;
  display: none;
  top: 4px;
  left: 4px;
  height: 48px;
  width: 48px;
  border-radius: 48px;
}

.Image__Container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.Move__Frame .Image__Container .Image {
  position: absolute;
  height: 120%;
  width: 120%;
  object-fit: contain;
}

[data-js-image='Foreground'] {
  z-index: 1;
  left: -50%;
}
[data-js-image='Background'] {
  z-index: 0;
  top: -50%;
  left: -50%;
}

.Move__Container {
  width: 75%;
  margin: auto;
}

.Move__Frame {
  overflow: hidden;
  border: solid 5px black;
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
}

[data-js-image='Foreground2'] {
  z-index: 1;
  left: -50%;
}
[data-js-image='Background2'] {
  z-index: 0;
  top: -50%;
  left: -50%;
}

.Move__Container .Move__Description {
  backdrop-filter: blur(15px);
  padding: 12px;
  margin-bottom: 12px;
  margin-top: 1px;
}

.Main.Misc {
  display: flex;
  height: 100%;
}

.ParallaxDemo {
  width: 100%;
}

.Heading {
  font-size: 2em;
  font-weight: 600;
  text-align: center;
}

.VideoPlayer__Demo {
  width: 100%;
}
.Video__Description {
  backdrop-filter: blur(5px);
  width: 100%;
  text-align: center;
  padding: 4px;
  margin-top: 1px;
  user-select: none;
}

.Video__Description .Description__Heading {
  font-size: 1.6rem;
  margin: 0;
}

.VideoSwiper .swiper-button-prev,
.VideoSwiper .swiper-button-next {
  width: 40px;
}

.VideoSwiper .swiper-button-prev {
  left: 5px;
}
.VideoSwiper .swiper-button-next {
  right: 5px;
}

.videoswiper-container {
  position: relative;
}

.videoswiper-container .swiper-pagination {
  --swiper-pagination-color: black;
  position: unset;
}
.Video__Container {
  position: relative;
  width: 90%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  margin-inline: auto;
  background-color: rgb(0, 0, 0);
}

.Video__Container.-Theater,
.Video__Container.-Fullscreen {
  max-width: initial;
  width: 100%;
}

.Video__Container.-Theater {
  max-height: 90vh;
}

.Video__Container.-Fullscreen {
  max-height: 100vh;
}

.Controls__Container {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  color: rgb(255, 255, 255);
  transition: opacity 150ms ease-in-out;
}

.Icon__Captions {
  display: none;
}

.Video__Container:hover .Controls__Container,
.Video__Container:focus-within .Controls__Container,
.Video__Container.-Paused .Controls__Container {
  opacity: 1;
}

.Controls__Container .Controls {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.25rem;
}

.Controls__Container .Controls button {
  height: 30px;
  width: 30px;
  padding: 0;
  opacity: 0.85;
  background: none;
  border: none;
  color: inherit;
  font: 1.1rem;
  cursor: pointer;
  transform: opacity 150ms ease-in-out;
}

.Controls__Container::before {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  aspect-ratio: 6 / 1;
  pointer-events: none;
}

.Controls__Container .Controls button:hover {
  opacity: 1;
}

.Controls__TimelineContainer {
  display: flex;
  align-items: center;
  height: 8px;
  margin-inline: 0.5rem;
  cursor: pointer;
}

.Timeline {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: rgba(100, 100, 100, 0.5);
}

.Timeline::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: calc(100% - var(--preview-position) * 100%);
  background-color: rgb(211, 211, 211);
  display: none;
}

.Timeline::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: calc(100% - var(--progress-position) * 100%);
  background-color: var(--slider-color);
}

.Timeline__ThumbIndicator {
  --scale: 0;
  position: absolute;
  height: 200%;
  top: -50%;
  transform: translateX(-50%) scale(var(--scale));
  left: calc(var(--progress-position) * 100%);
  background-color: var(--slider-color);
  border-radius: 50%;
  transition: transform 150ms ease-in-out;
  aspect-ratio: 1 / 1;
}

.Timeline .Timeline__PreviewImage {
  position: absolute;
  height: 80px;
  aspect-ratio: 16/9;
  top: -1rem;
  transform: translate(-50%, -100%);
  left: calc(var(--preview-position) * 100%);
  border-radius: 0.25rem;
  border: 2px solid rgb(255, 255, 255);
  display: none;
}

.Video__Container.-Scrubbing .Timeline__PreviewImage,
.Controls__TimelineContainer:hover .Timeline__PreviewImage {
  display: block;
}

.Video__Container.-Scrubbing .Timeline::before,
.Controls__TimelineContainer:hover .Timeline::before {
  display: block;
}

.Video__Container.-Scrubbing .Timeline__ThumbIndicator,
.Controls__TimelineContainer:hover .Timeline__ThumbIndicator {
  --scale: 1;
}

.Video__Container.-Scrubbing .Timeline,
.Controls__TimelineContainer:hover .Timeline {
  height: 100%;
}

.Video__Thumbnail {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  display: none;
}

.Video__Container.-Scrubbing .Video__Thumbnail {
  display: block;
}

.Video__Container.-Paused .Icon__Pause {
  display: none;
}

.Video__Container:not(.-Paused) .Icon__Play {
  display: none;
}

.Video__Container.-Theater .Icon__TheaterWide {
  display: none;
}

.Video__Container:not(.-Theater) .Icon__TheaterTall {
  display: none;
}

.Video__Container.-Fullscreen .Icon__FullscreenOpen {
  display: none;
}

.Video__Container:not(.-Fullscreen) .Icon__FullscreenClose {
  display: none;
}

.Volume__Container {
  display: flex;
  align-items: center;
}

.Volume__Slider {
  -webkit-appearance: none;
  border-radius: 1em;

  width: 0;
  transform-origin: left;
  transform: scale(0);
  transition: width 150ms ease-in-out, transform 150ms ease-in-out;
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--value) - var(--min)) / var(--range));
  --sx: calc(0.5 * 20px + var(--ratio) * (100% - 20px));
}

input[type='range'].Volume__Slider:focus {
  outline: none;
}

/*webkit*/
input[type='range'].Volume__Slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1em;
  height: 1em;
  border-radius: 1em;
  background: var(--slider-color);
  border: none;
  box-shadow: 0 0 2px black;
  margin-top: calc(max((1em - 1px - 1px) * 0.5, 0px) - 1.5em * 0.5);
}

input[type='range'].Volume__Slider::-webkit-slider-runnable-track {
  height: 0.5em;
  border: 1px solid #b2b2b2;
  border-radius: 0.5em;
  background: #efefef;
  box-shadow: none;
}

input[type='range'].Volume__Slider::-webkit-slider-thumb:hover {
  background: var(--slider-color);
}

input[type='range'].Volume__Slider:hover::-webkit-slider-runnable-track {
  background: #e5e5e5;
  border-color: #9a9a9a;
}

input[type='range'].Volume__Slider::-webkit-slider-thumb:active {
  background: var(--slider-color);
}

input[type='range'].Volume__Slider:active::-webkit-slider-runnable-track {
  background: #f5f5f5;
  border-color: #c1c1c1;
}

input[type='range'].Volume__Slider::-webkit-slider-runnable-track {
  background: linear-gradient(var(--slider-color), var(--slider-color)) 0 / var(--sx) 100% no-repeat,
    #efefef;
}

input[type='range'].Volume__Slider:hover::-webkit-slider-runnable-track {
  background: linear-gradient(var(--slider-color), var(--slider-color)) 0 / var(--sx) 100% no-repeat,
    #e5e5e5;
}

input[type='range'].Volume__Slider:active::-webkit-slider-runnable-track {
  background: linear-gradient(var(--slider-color), var(--slider-color)) 0 / var(--sx) 100% no-repeat,
    #f5f5f5;
}

.Volume__Container:hover .Volume__Slider,
.Volume__Slider:focus-within {
  width: 100px;
  transform: scale(1);
}

.Icon__VolumeHigh,
.Icon__VolumeLow,
.Icon__VolumeMute {
  display: none;
}

.Video__Container[data-volume='high'] .Icon__VolumeHigh {
  display: block;
}

.Video__Container[data-volume='low'] .Icon__VolumeLow {
  display: block;
}

.Video__Container[data-volume='muted'] .Icon__VolumeMute {
  display: block;
}

.Duration__Container {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  flex-grow: 1;
}

.Video__Container.-Captions .Controls__ClosedCaptions {
  border-bottom: 3px solid rgb(255, 0, 0);
}

.Controls__Container .Controls button.-WideButton {
  width: 50px;
}

.Video__Container .Video__Video {
  width: 100%;
}

.VideoPlayer__Description {
  padding: 24px 8px;
  backdrop-filter: blur(15px);
}

@media screen and (max-width: 640px) {
  .NavDrawer {
    display: block;
  }
  .Megamenu {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 50%;
    transition: left 500ms ease-in-out;
  }

  .Megamenu.-Show {
    left: 0;
  }

  .MenuItemList {
    flex-direction: column;
  }

  .MenuItem {
  }

  .Main {
    margin-top: 64px;
  }

  .Description {
    margin-bottom: 64px;
  }

  .swiper-container .swiper-button-prev,
  .swiper-container .swiper-button-next {
    display: none;
  }
  .swiper-container .swiper-button-next {
    right: 0;
  }
  .swiper-container .swiper-button-prev {
    left: 0;
  }

  .VideoSwiper .swiper-button-prev,
  .VideoSwiper .swiper-button-next {
    display: none;
  }
}
