<div id='Move__Container' class='Move__Container'>
  {{#each imagePairs}}
    <div class='Move__Frame'>
      <div id='Foreground2' class='Image__Container' data-js-image='Foreground2'>
        <img class='Image lazyload' data-src='{{foreground}}' alt='foreground' />
      </div>
      <div id='Background2' class='Image__Container' data-js-image='Background2'>
        <img class='Image lazyload' data-src='{{background}}' alt='background' />
      </div>
    </div>
  {{/each}}
</div>