.Gallery {
  width: 100%;
  overflow: hidden;

  &__Wrapper {
    position: relative;
    height: 80%;
    width: -webkit-fill-available;
    width: -moz-available;
    padding: 0 64px;
    margin: auto;

    @include mobile {
      padding: 0;
    }
  }

  .swiper-slide {
    width: 100% !important;
    backdrop-filter: blur(15px);

    .Slide__Content {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 75vh;

      .Image {
        height: 95% !important;
        border-bottom: 1px solid gray;
      }

      .Description {
        width: 100%;
        font-size: 1.5em;
        vertical-align: middle;
        text-align: center;

        @include mobile {
          font-size: 1em;
        }
      }
    }
  }
}

.GalleryThumbnails {
  height: 14vh;
  width: -webkit-fill-available;
  margin-top: 24px;
  box-sizing: border-box;
  overflow: hidden;
  mask-image: linear-gradient(90deg, rgba(0, 0, 0, 1), transparent 88%);
  -webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 95%, transparent 100%);

  & .swiper-slide {
    width: 25%;
    opacity: 0.4;
    border: 1px solid gray;
  }
  & .swiper-slide-thumb-active {
    opacity: 1;
  }

  .Image {
    object-fit: cover;
    object-position: top;
  }
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;

  z-index: 50;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;

  @include mobile {
    top: unset;
    bottom: 24px;
  }
}

.swiper-button-prev {
  left: 0;
}
.swiper-button-next {
  right: 0;
}
