@mixin clickable {
  position: relative;

  &[item-state='active'] {
    --after-right: 0;
  }

  &[item-state='not-active'] {
    --after-right: 100%;
  }

  &::after {
    position: absolute;
    content: '';
    bottom: 18%;
    left: 0;
    right: var(--after-right);
    height: 2px;
    background-color: black;
    transition: right 400ms ease-in-out;
  }

  &:hover::after {
    right: 0;
  }
}
