/** @format */

.VideoWrapper {
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
}

.PlayButton {
	position: absolute;
	z-index: 1;
}

.Video {
	z-index: 0;
	max-width: 80%;
	max-height: 80%;
}

.hidden {
	display: none;
}
