@import '../../defaults/styles/breakpoints.scss';
@import '../../defaults/styles/clickable.scss';
@import '../../defaults/styles/defaults.scss';
@import '../../partials/megamenu/megamenu.scss';
@import '../../partials/swiper-with-video-player/swiper-with-video-player.scss';
@import '../../partials/parallax-effect/parallax-effect.scss';

.Site__Container {
  display: flex;
  flex-direction: column;
  margin: 0 16px;
}

.VideoPlayer__Demo,
.ParallaxDemo {
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  align-items: center;
}

.ParallaxDemo {
  margin: 16px 0 0;
}

.VideoPlayer__Demo {
  margin: 6% 0;
}
